   <% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h1>Create New Listing</h1>
    <form action="/listings" method="post">
      <!-- we give name as a object key to all input so we gate object in req.body  -->
      <input
        type="text"
        placeholder="Enter Title"
        name="listing[title]"
      /><br /><br />
      <textarea
        type="text"
        placeholder="Enter description"
        name="listing[description]"
      ></textarea
      ><br /><br />
      <input
        type="text"
        placeholder="Enter image"
        name="listing[image]"
      /><br /><br />
      <input
        type="number"
        placeholder="Enter price"
        name="listing[price]"
      /><br /><br />
      <input
        type="text"
        placeholder="Enter location"
        name="listing[location]"
      /><br /><br />
      <input
        type="text"
        placeholder="Enter country"
        name="listing[country]"
      /><br /><br />
      <button>Add</button>
    </form>
  </body>
